{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="shortcut icon" href="{% static 'image/logo1.png' %}" type="image/x-icon">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}
    <header class="header">
        <div class="index-div index-div1">
            <ul class="index-div-list">
                <li><a href="/"><img src="{% static 'image/logo2.png' %}" alt="" class="index-div-logo"></a></li>
                <li class="index-div-list-item"><a href="/products/" class="index-div-list-item-text">Каталог</a></li>
                <li class="index-div-list-item"><a href="" class="index-div-list-item-text">Новинки и акции</a></li>
                <li class="index-div-list-item"><a href="/news/" class="index-div-list-item-text">Новости магазина</a></li>
                <li class="index-div-list-item"><a href="/contacts/" class="index-div-list-item-text">Контактная информация</a></li>
                <div class="buy-profil">
                    <li><a href="/cart/"><img src="{% static 'image/buy.png' %}" alt="" class="index-div-profil"></a></li>
                    <li><a href="{% url 'login' %}"><img src="{% static 'image/profil.png' %}" alt="" class="index-div-profil"></a></li>
                </div>
            </ul>
        </div>
    </header>
<section class="section section-cart">
        <div class="fake fake2"><br></div>
    <h2 class="cartt-title">Корзина {{ user.username }}</h2>
        <div class="div-cart div-cart1">
            <h2 class="div-cart-title">Товар</h2>
            <h2 class="div-cart-title">Наименование</h2>
            <h2 class="div-cart-title">Бренд</h2>
            <h2 class="div-cart-title">Количество</h2>
            <h2 class="div-cart-title">Цена за шт.</h2>
            <h2 class="div-cart-title">Удалить</h2>
        </div>
    {% for item in cart_items %}
        <div class="div-cart div-cart2">
            <div class="div-cart-content div-cart-img">
                <img class="div-cart-image" src="{{ item.product.imgg.url }}" alt="">
            </div>
            <div class="div-cart-content">
                <p class="div-cart-text">{{ item.product.title }}</p>
            </div>
            <div class="div-cart-content">
                <p class="div-cart-text">{{ item.product.brendd }}</p>
            </div>
            <div class="div-cart-content">
                <p class="div-cart-text">{{ item.quantity }}</p>
            </div>
            <div class="div-cart-content">
                <p class="div-cart-text">{{ item.product.summ }} ₽</p>
            </div>
            <div class="div-cart-content">
                <a href="{% url 'catalog:remove_from_cart' item.id %}"><img class="die-png" src="{% static 'image/die.png' %}"></a>
            </div>
        </div>
    {% endfor %}
        <div class="dops">
            <p class="all-cost">Общая стоимость: {{ total_price }} ₽</p>
            <a href="" class="cart-btn news-btn">Купить</a>
        </div>
    </section>
{% endblock %}
</body>
</html>
