{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в аккаунт</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'image/logo1.png' %}" type="image/x-icon">
</head>
<body>
{% block content %}
    <header class="header">
        <div class="index-div">
            <ul class="index-div-list">
                <li><a href="/"><img src="{% static 'image/logo2.png' %}" alt="" class="index-div-logo"></a></li>
                <li class="index-div-list-item"><a href="/products/" class="index-div-list-item-text">Каталог</a></li>
                <li class="index-div-list-item"><a href="" class="index-div-list-item-text">Новинки и акции</a></li>
                <li class="index-div-list-item"><a href="/news/" class="index-div-list-item-text">Новости магазина</a></li>
                <li class="index-div-list-item"><a href="/contacts/" class="index-div-list-item-text">Контактная информация</a></li>
                <div class="buy-profil">
                    <li><a href="/cart/"><img src="{% static 'image/buy.png' %}" alt="" class="index-div-profil"></a></li>
                    <li><a href="{% url 'login' %}"><img src="{% static 'image/profil.png' %}" alt="" class="index-div-profil"></a></li>
                </div>
            </ul>
        </div>
    </header>

    <section class="section section-profil">
        {% if user.is_authenticated %}
        <div class="div-profil">
            <h2 class="div-profil-title">Ваш профиль</h2>
            <p class="user">{{ user.username }}</p>
            <p class="user user2"><a href="{% url 'logout' %}">Выйти из аккаунта</a></p>
        </div>
        {% else %}
        <div class="div-profil">
            <h2 class="div-profil-title">Войти в аккаунт</h2>
            <form method="post" class="div-profil-form">
                {% csrf_token %}
                <div class="div-profil-form-element">
                    <label for="username-field" class="div-profil-form-element-label">Логин:</label>
                    <input id="username-field" class="div-profil-form-element-input1" name="username" type="text" placeholder="Введите логин"/>
                </div>
                <div class="div-profil-form-element">
                    <label for="password-field" class="div-profil-form-element-label">Пароль:</label>
                    <input id="password-field" class="div-profil-form-element-input2" name="password" type="password" placeholder="Введите пароль"/>
                </div>
                {% if form.errors %}
                    <p style="color: red">Неверный логин или пароль</p>
                {% endif %}
                <button type="submit" class="div-profil-btn1">Войти</button>
                <p class="div-text">Нет аккаунта?<a href="{% url 'signup' %}" class="div-profil-btn2"> Зарегистрироваться</a></p>
            </form>
            {% endif %}
        </div>
    </section>
    {% endblock %}
</div>
</body>
